*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background: linear-gradient(
    135deg,
    #0f172a,
    #111827,
    #1e293b
  );
  color:white;
  min-height:100vh;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
}